<!DOCTYPE html>
<html>
    <head>
        <div class="topnav">
            <a href="/"><b>Home</b></a>
            <a class="active" href="{{ url_for('index') }}"><b>Website</b></a>
            <div class="topnav-right">
                <a href="/logout"><b>Logout</b></a>
            </div>
        </div>
    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
    </head>

    <body>
        <div class="Center">
            <h1>~ Let's get prepared for the day & be happy! ~</h1><br><br>

            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                                <img src="https://openweathermap.org/themes/openweathermap/assets/img/mobile_app/android-app-top-banner.png" alt="Image"
                                style="width: 90px; height: 90px;"/>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <h2><b>-- The Weather Today in {{ city }} --</b></h2>
                                    <h3>Current temperature is: {{ temp }}° F</h3>
                                    <h3>with a high of {{ temp_high }}° F</h3>
                                    <h3>and a low of {{ temp_low }}° F</h3>
                                    <h3>with (a) {{ description }}!</h3>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="News">
                <h2><b>-- Coming to you from the New York Times --</b></h2>
                <h3><u>{{title}}</u></h3>
                <img src={{movie}} alt={{title}} class="center"
                    style="max-width: 90%;"/><br>
                <h3>{{abstract}}</h3>
                <h3>{{published_date}}</h3>
                <a href={{the_url}}> Click here to read the full story!</a><br><br>
            </div>

            <div class="Norris">
                <h2><b>-- Random fact a day.. keeps the doctor away? --</b></h2>
                <h3>{{fact}}</h2><br><br>
                <h2><b>-- Ready for some *yolks*? --</b></h1>
                <img src="{{norris}}" class="center" style="max-width: 80%;"/>
                <h3>{{norris_joke}}</h2><br>
                <br><img src="{{mama_pic}}" class="center" style="max-width: 80%;"/>
                <h3>{{mama}}</h2>
            </div>
        </div>   
        <a href="#" class="top"><b>Back to Top &#8593;</b></a>
    </body>
</html> 
