<!DOCTYPE html>
<html>
    <head>
        <div class="topnav">
            <a href="/"><b>Home</b></a>
            <a class="active" href="{{ url_for('index') }}"><b>Website</b></a>
            <div class="topnav-right">
                <a href="/logout"><b>Logout</b></a>
            </div>
        </div>
    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
    </head>

    <body>
        <div class="Center">
            <h1>Let's get prepared & happy!</h1><br><br>
            <div class="News">
                <h2>News up first, coming to you<br> from the New York Times!</h2>
                <h3>{{title}}</h3>
                <img src={{movie}} alt={{title}} class="center"
                    style="max-width: 90%;"/><br>
                <h3>{{abstract}}</h3>
                <h3>{{published_date}}</h3>
                <a href={{the_url}}> Click here to read the full story!</a><br>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city }}</span>
                                    <br>
                                    <span class="subtitle">{{ temp }}° F</span> <br>
                                    <span class="subtitle">H: {{ temp_high }}° F</span><br>
                                    <span class="subtitle">L: {{ temp_low }}° F</span>
                                    <br> {{ description }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="Norris">
                <h1>Random fact:...</h1>
                <h2>{{fact}}</h2>
                <h1><u>Ready for some *yolks*?</u></h1>
                <img src="{{norris}}" class="center" style="max-width: 80%;"/>
                <h2>{{norris_joke}}</h2>
                <img src="{{mama_pic}}" class="center" style="max-width: 80%;"/>
                <h2>{{mama}}</h2>
            </div>
        </div>   
        <a href="#" class="top">Back to Top &#8593;</a>
    </body>
</html> 
